<?xml version="1.0"?>
<config>
	<frontend>
		<routers>
			<ExportOrders>
				<use>standard</use>
				<args>
					<module>Idual_ExportOrders</module>
					<frontName>exportorders</frontName>
				</args>
			</ExportOrders>
		</routers>
	</frontend>
	<modules>
		<Idual_ExportOrders>
			<version>2.0.0</version>
		</Idual_ExportOrders>
	</modules>
	<global>
		<models>
            <ExportOrders>
                <class>Idual_ExportOrders_Model</class>
                <resourceModel>ExportOrders_mysql4</resourceModel>
            </ExportOrders>
            <ExportOrders_mysql4>
                <class>Idual_ExportOrders_Model_Mysql4</class>
                <entities>
                    <ExportOrders>
                        <table>orderexport</table>
                    </ExportOrders>
                </entities>
            </ExportOrders_mysql4>
        </models>
		<resources>
			
			<ExportOrders_setup>
				<setup>
					<module>Idual_ExportOrders</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ExportOrders_setup>
			
		</resources>
		<events>
			<sales_order_save_after>
				<observers>
					<Idual_ExportOrders_Model_Observer>
						<type>singleton</type>
						<class>Idual_ExportOrders_Model_Observer</class>
						<method>orderStatusChange</method>
					</Idual_ExportOrders_Model_Observer>
				</observers>
			</sales_order_save_after>
		</events>
	</global>
</config>