<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutwebshopgiftcard>
			<version>0.0.1</version>
		</Mage_Idealcheckoutwebshopgiftcard>
	</modules>
	<global>
		<models>
			<idealcheckoutwebshopgiftcard>
				<class>Mage_Idealcheckoutwebshopgiftcard_Model</class>
			</idealcheckoutwebshopgiftcard>
		</models>
		<resources>
			<idealcheckoutwebshopgiftcard_setup>
				<setup>
					<module>Mage_Idealcheckoutwebshopgiftcard</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutwebshopgiftcard_setup>
			<idealcheckoutwebshopgiftcard_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutwebshopgiftcard_write>
			<idealcheckoutwebshopgiftcard_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutwebshopgiftcard_read>
		</resources>
		<blocks>
			<idealcheckoutwebshopgiftcard>
				<class>Mage_Idealcheckoutwebshopgiftcard_Block</class>
			</idealcheckoutwebshopgiftcard>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutwebshopgiftcard>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutwebshopgiftcard</module>
					<frontName>idealcheckoutwebshopgiftcard</frontName>
				</args>
			</idealcheckoutwebshopgiftcard>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutwebshopgiftcard>
				<active>0</active>
				<model>idealcheckoutwebshopgiftcard/idealcheckoutwebshopgiftcard</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>Webshop Giftcard</title>
			</idealcheckoutwebshopgiftcard>
		</payment>
	</default>
</config>
