<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutvisa>
			<version>0.0.1</version>
		</Mage_Idealcheckoutvisa>
	</modules>
	<global>
		<models>
			<idealcheckoutvisa>
				<class>Mage_Idealcheckoutvisa_Model</class>
			</idealcheckoutvisa>
		</models>
		<resources>
			<idealcheckoutvisa_setup>
				<setup>
					<module>Mage_Idealcheckoutvisa</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutvisa_setup>
			<idealcheckoutvisa_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutvisa_write>
			<idealcheckoutvisa_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutvisa_read>
		</resources>
		<blocks>
			<idealcheckoutvisa>
				<class>Mage_Idealcheckoutvisa_Block</class>
			</idealcheckoutvisa>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutvisa>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutvisa</module>
					<frontName>idealcheckoutvisa</frontName>
				</args>
			</idealcheckoutvisa>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutvisa>
				<active>0</active>
				<model>idealcheckoutvisa/idealcheckoutvisa</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>Visa</title>
			</idealcheckoutvisa>
		</payment>
	</default>
</config>
