<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutauthorizedtransfer>
			<version>0.0.1</version>
		</Mage_Idealcheckoutauthorizedtransfer>
	</modules>
	<global>
		<models>
			<idealcheckoutauthorizedtransfer>
				<class>Mage_Idealcheckoutauthorizedtransfer_Model</class>
			</idealcheckoutauthorizedtransfer>
		</models>
		<resources>
			<idealcheckoutauthorizedtransfer_setup>
				<setup>
					<module>Mage_Idealcheckoutauthorizedtransfer</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutauthorizedtransfer_setup>
			<idealcheckoutauthorizedtransfer_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutauthorizedtransfer_write>
			<idealcheckoutauthorizedtransfer_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutauthorizedtransfer_read>
		</resources>
		<blocks>
			<idealcheckoutauthorizedtransfer>
				<class>Mage_Idealcheckoutauthorizedtransfer_Block</class>
			</idealcheckoutauthorizedtransfer>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutauthorizedtransfer>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutauthorizedtransfer</module>
					<frontName>idealcheckoutauthorizedtransfer</frontName>
				</args>
			</idealcheckoutauthorizedtransfer>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutauthorizedtransfer>
				<active>0</active>
				<model>idealcheckoutauthorizedtransfer/idealcheckoutauthorizedtransfer</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>Eenmalige machtiging</title>
			</idealcheckoutauthorizedtransfer>
		</payment>
	</default>
</config>
