<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutcartebleue>
			<version>0.0.1</version>
		</Mage_Idealcheckoutcartebleue>
	</modules>
	<global>
		<models>
			<idealcheckoutcartebleue>
				<class>Mage_Idealcheckoutcartebleue_Model</class>
			</idealcheckoutcartebleue>
		</models>
		<resources>
			<idealcheckoutcartebleue_setup>
				<setup>
					<module>Mage_Idealcheckoutcartebleue</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutcartebleue_setup>
			<idealcheckoutcartebleue_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutcartebleue_write>
			<idealcheckoutcartebleue_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutcartebleue_read>
		</resources>
		<blocks>
			<idealcheckoutcartebleue>
				<class>Mage_Idealcheckoutcartebleue_Block</class>
			</idealcheckoutcartebleue>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutcartebleue>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutcartebleue</module>
					<frontName>idealcheckoutcartebleue</frontName>
				</args>
			</idealcheckoutcartebleue>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutcartebleue>
				<active>0</active>
				<model>idealcheckoutcartebleue/idealcheckoutcartebleue</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>Carte Bleue</title>
			</idealcheckoutcartebleue>
		</payment>
	</default>
</config>
