<?xml version="1.0"?>
<config>
  <modules>
    <Magebuzz_Multipleorderemail>
      <version>0.1.4</version>
    </Magebuzz_Multipleorderemail>
  </modules>
  <frontend>
    <secure_url>
      <multipleorderemail>/multipleorderemail/</multipleorderemail>
    </secure_url>
    <routers>
      <multipleorderemail>
        <use>standard</use>
        <args>
          <module>Magebuzz_Multipleorderemail</module>
          <frontName>multipleorderemail</frontName>
        </args>
      </multipleorderemail>
    </routers>
  </frontend>
  <admin>
    <routers>
      <multipleorderemail>
        <use>admin</use>
        <args>
          <module>Magebuzz_Multipleorderemail</module>
          <frontName>multipleorderemail</frontName>
        </args>
      </multipleorderemail>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <multipleorderemail>
          <file>multipleorderemail.xml</file>
        </multipleorderemail>
      </updates>
    </layout>
    <translate>
      <modules>
        <Magebuzz_Multipleorderemail>
          <files>
            <default>Magebuzz_Multipleorderemail.csv</default>
          </files>
        </Magebuzz_Multipleorderemail>
      </modules>
    </translate>
  </adminhtml>
  <global>
    <models>
      <multipleorderemail>
        <class>Magebuzz_Multipleorderemail_Model</class>
        <resourceModel>multipleorderemail_mysql4</resourceModel>
      </multipleorderemail>
      <multipleorderemail_mysql4>
        <class>Magebuzz_Multipleorderemail_Model_Mysql4</class>
        <entities>
          <multipleorderemail>
            <table>multipleorderemail</table>
          </multipleorderemail>
          <multipleorderemailrule>
            <table>multipleorderemail_rule</table>
          </multipleorderemailrule>
          <multipleorderemailstore>
            <table>multipleorderemail_store</table>
          </multipleorderemailstore>
        </entities>
      </multipleorderemail_mysql4>
      <sales>
        <rewrite>
          <order>Magebuzz_Multipleorderemail_Model_Sales_Order</order>
          <order_invoice>Magebuzz_Multipleorderemail_Model_Sales_Order_Invoice</order_invoice>
          <order_shipment>Magebuzz_Multipleorderemail_Model_Sales_Order_Shipment</order_shipment>
        </rewrite>
      </sales>
    </models>
    <resources>
      <multipleorderemail_setup>
        <setup>
          <module>Magebuzz_Multipleorderemail</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </multipleorderemail_setup>
      <multipleorderemail_write>
        <connection>
          <use>core_write</use>
        </connection>
      </multipleorderemail_write>
      <multipleorderemail_read>
        <connection>
          <use>core_read</use>
        </connection>
      </multipleorderemail_read>
    </resources>
    <blocks>
      <multipleorderemail>
        <class>Magebuzz_Multipleorderemail_Block</class>
      </multipleorderemail>
    </blocks>
    <helpers>
      <multipleorderemail>
        <class>Magebuzz_Multipleorderemail_Helper</class>
      </multipleorderemail>
    </helpers>
  </global>
  <default>
    <multipleorderemail>
      <multipleorderemail_options>
        <send_mail_to_admin>1</send_mail_to_admin>
        <admin_default_sender>hello@example.com</admin_default_sender>
      </multipleorderemail_options>
    </multipleorderemail>
  </default>
</config>