<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutpostepay>
			<version>0.0.1</version>
		</Mage_Idealcheckoutpostepay>
	</modules>
	<global>
		<models>
			<idealcheckoutpostepay>
				<class>Mage_Idealcheckoutpostepay_Model</class>
			</idealcheckoutpostepay>
		</models>
		<resources>
			<idealcheckoutpostepay_setup>
				<setup>
					<module>Mage_Idealcheckoutpostepay</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutpostepay_setup>
			<idealcheckoutpostepay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutpostepay_write>
			<idealcheckoutpostepay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutpostepay_read>
		</resources>
		<blocks>
			<idealcheckoutpostepay>
				<class>Mage_Idealcheckoutpostepay_Block</class>
			</idealcheckoutpostepay>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutpostepay>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutpostepay</module>
					<frontName>idealcheckoutpostepay</frontName>
				</args>
			</idealcheckoutpostepay>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutpostepay>
				<active>0</active>
				<model>idealcheckoutpostepay/idealcheckoutpostepay</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>PostePay</title>
			</idealcheckoutpostepay>
		</payment>
	</default>
</config>
