<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutmanualtransfer>
			<version>0.0.1</version>
		</Mage_Idealcheckoutmanualtransfer>
	</modules>
	<global>
		<models>
			<idealcheckoutmanualtransfer>
				<class>Mage_Idealcheckoutmanualtransfer_Model</class>
			</idealcheckoutmanualtransfer>
		</models>
		<resources>
			<idealcheckoutmanualtransfer_setup>
				<setup>
					<module>Mage_Idealcheckoutmanualtransfer</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutmanualtransfer_setup>
			<idealcheckoutmanualtransfer_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutmanualtransfer_write>
			<idealcheckoutmanualtransfer_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutmanualtransfer_read>
		</resources>
		<blocks>
			<idealcheckoutmanualtransfer>
				<class>Mage_Idealcheckoutmanualtransfer_Block</class>
			</idealcheckoutmanualtransfer>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutmanualtransfer>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutmanualtransfer</module>
					<frontName>idealcheckoutmanualtransfer</frontName>
				</args>
			</idealcheckoutmanualtransfer>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutmanualtransfer>
				<active>0</active>
				<model>idealcheckoutmanualtransfer/idealcheckoutmanualtransfer</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>Handmatig overboeken</title>
			</idealcheckoutmanualtransfer>
		</payment>
	</default>
</config>
