<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutebon>
			<version>0.0.1</version>
		</Mage_Idealcheckoutebon>
	</modules>
	<global>
		<models>
			<idealcheckoutebon>
				<class>Mage_Idealcheckoutebon_Model</class>
			</idealcheckoutebon>
		</models>
		<resources>
			<idealcheckoutebon_setup>
				<setup>
					<module>Mage_Idealcheckoutebon</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutebon_setup>
			<idealcheckoutebon_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutebon_write>
			<idealcheckoutebon_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutebon_read>
		</resources>
		<blocks>
			<idealcheckoutebon>
				<class>Mage_Idealcheckoutebon_Block</class>
			</idealcheckoutebon>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutebon>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutebon</module>
					<frontName>idealcheckoutebon</frontName>
				</args>
			</idealcheckoutebon>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutebon>
				<active>0</active>
				<model>idealcheckoutebon/idealcheckoutebon</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>eBON</title>
			</idealcheckoutebon>
		</payment>
	</default>
</config>
