<?xml version="1.0"?>
<config>
    <modules>
        <Medma_Removeorder>
            <version>1.0.5</version>
        </Medma_Removeorder>
    </modules>
    <global>				
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Medma_Removeorder_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
										<sales_order>Medma_Removeorder_Block_Adminhtml_Sales_Order</sales_order>
                </rewrite>
            </adminhtml>
        </blocks>	
				<events>
				<medma_domain_authentication>
					<observers>
						<medma_removeall_observer>
							<class>Medma_Removeorder_Model_Authenticate</class>
							<method>saveDomain</method>
						</medma_removeall_observer>
					</observers>
				</medma_domain_authentication>
			</events>
			<resources>
			  <removeorder_setup>
				<setup>
				  <module>Medma_Removeorder</module>
				</setup>
				<connection>
				  <use>core_setup</use>
				</connection>
			  </removeorder_setup>
			  <removeorder_write>
				<connection>
				  <use>core_write</use>
				</connection>
			  </removeorder_write>
			  <removeorder_read>
				<connection>
				  <use>core_read</use>
				</connection>
			  </removeorder_read>
			</resources>
			<rewrite>
        <medma_removeorder_adminhtml_sales_order>
            <from><![CDATA[#/admin/sales_order/#]]></from>
            <to>/removeorder/adminhtml_sales_order/</to>
        </medma_removeorder_adminhtml_sales_order>
      </rewrite>	
    </global>
	<admin>
        <routers>
            <medma_removeorder>
                <use>admin</use>
                <args>
                    <module>Medma_Removeorder</module>
                    <frontName>removeorder</frontName>
                </args>
            </medma_removeorder>			
			<adminhtml>
				<args>
				  <modules>
					<Medma_Removeorder_Adminhtml before="Mage_Adminhtml">Medma_Removeorder_Adminhtml</Medma_Removeorder_Adminhtml>
				  </modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
</config>
