<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutpaysafecard>
			<version>0.0.1</version>
		</Mage_Idealcheckoutpaysafecard>
	</modules>
	<global>
		<models>
			<idealcheckoutpaysafecard>
				<class>Mage_Idealcheckoutpaysafecard_Model</class>
			</idealcheckoutpaysafecard>
		</models>
		<resources>
			<idealcheckoutpaysafecard_setup>
				<setup>
					<module>Mage_Idealcheckoutpaysafecard</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutpaysafecard_setup>
			<idealcheckoutpaysafecard_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutpaysafecard_write>
			<idealcheckoutpaysafecard_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutpaysafecard_read>
		</resources>
		<blocks>
			<idealcheckoutpaysafecard>
				<class>Mage_Idealcheckoutpaysafecard_Block</class>
			</idealcheckoutpaysafecard>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutpaysafecard>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutpaysafecard</module>
					<frontName>idealcheckoutpaysafecard</frontName>
				</args>
			</idealcheckoutpaysafecard>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutpaysafecard>
				<active>0</active>
				<model>idealcheckoutpaysafecard/idealcheckoutpaysafecard</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>PaySafeCard</title>
			</idealcheckoutpaysafecard>
		</payment>
	</default>
</config>
