<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutvpay>
			<version>0.0.1</version>
		</Mage_Idealcheckoutvpay>
	</modules>
	<global>
		<models>
			<idealcheckoutvpay>
				<class>Mage_Idealcheckoutvpay_Model</class>
			</idealcheckoutvpay>
		</models>
		<resources>
			<idealcheckoutvpay_setup>
				<setup>
					<module>Mage_Idealcheckoutvpay</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutvpay_setup>
			<idealcheckoutvpay_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutvpay_write>
			<idealcheckoutvpay_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutvpay_read>
		</resources>
		<blocks>
			<idealcheckoutvpay>
				<class>Mage_Idealcheckoutvpay_Block</class>
			</idealcheckoutvpay>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutvpay>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutvpay</module>
					<frontName>idealcheckoutvpay</frontName>
				</args>
			</idealcheckoutvpay>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutvpay>
				<active>0</active>
				<model>idealcheckoutvpay/idealcheckoutvpay</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>VPAY</title>
			</idealcheckoutvpay>
		</payment>
	</default>
</config>
