<?xml version="1.0"?>
<config>
  <modules>
    <ElmaOnline_Rewrite>
      <version>0.1.0</version>
    </ElmaOnline_Rewrite>
  </modules>
  <global>
    <helpers>
      <rewrite>
        <class>ElmaOnline_Rewrite_Helper</class>
      </rewrite>
    </helpers>
	<models>
	  <rewrite>
		<class>ElmaOnline_Rewrite_Model</class>
		<resourceModel>rewrite_mysql4</resourceModel>
	  </rewrite>
	</models>
    <events>
	  <controller_front_init_before> <!-- identifier of the event we want to catch -->
        <observers>
          <controller_action_layout_load_before_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>rewrite/observer</class> <!-- observers class alias -->
            <method>direction</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </controller_action_layout_load_before_handler>
        </observers>
      </controller_front_init_before>
    </events>
  </global>
</config> 