<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Ideal>
			<version>0.0.1</version>
		</Mage_Ideal>
	</modules>
	<global>
		<models>
			<ideal>
				<class>Mage_Ideal_Model</class>
			</ideal>
		</models>
		<resources>
			<ideal_setup>
				<setup>
					<module>Mage_Ideal</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</ideal_setup>
			<ideal_write>
				<connection>
					<use>core_write</use>
				</connection>
			</ideal_write>
			<ideal_read>
				<connection>
					<use>core_read</use>
				</connection>
			</ideal_read>
		</resources>
		<blocks>
			<ideal>
				<class>Mage_Ideal_Block</class>
			</ideal>
		</blocks>
	</global>
	<frontend>
		<routers>
			<ideal>
				<use>standard</use>
				<args>
					<module>Mage_Ideal</module>
					<frontName>ideal</frontName>
				</args>
			</ideal>
		</routers>
	</frontend> 
	<default>
		<payment>
			<ideal>
				<active>1</active>
				<model>ideal/ideal</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>Ideal Checkout</title>
			</ideal>
		</payment>
	</default>
</config>
