<?xml version="1.0"?>
<config>
	<modules>
		<Mage_Idealcheckoutmastercard>
			<version>0.0.1</version>
		</Mage_Idealcheckoutmastercard>
	</modules>
	<global>
		<models>
			<idealcheckoutmastercard>
				<class>Mage_Idealcheckoutmastercard_Model</class>
			</idealcheckoutmastercard>
		</models>
		<resources>
			<idealcheckoutmastercard_setup>
				<setup>
					<module>Mage_Idealcheckoutmastercard</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</idealcheckoutmastercard_setup>
			<idealcheckoutmastercard_write>
				<connection>
					<use>core_write</use>
				</connection>
			</idealcheckoutmastercard_write>
			<idealcheckoutmastercard_read>
				<connection>
					<use>core_read</use>
				</connection>
			</idealcheckoutmastercard_read>
		</resources>
		<blocks>
			<idealcheckoutmastercard>
				<class>Mage_Idealcheckoutmastercard_Block</class>
			</idealcheckoutmastercard>
		</blocks>
	</global>
	<frontend>
		<routers>
			<idealcheckoutmastercard>
				<use>standard</use>
				<args>
					<module>Mage_Idealcheckoutmastercard</module>
					<frontName>idealcheckoutmastercard</frontName>
				</args>
			</idealcheckoutmastercard>
		</routers>
	</frontend> 
	<default>
		<payment>
			<idealcheckoutmastercard>
				<active>0</active>
				<model>idealcheckoutmastercard/idealcheckoutmastercard</model>
				<order_status>1</order_status>
				<complete_status>4</complete_status>
				<autocreate_invoice>0</autocreate_invoice>
				<title>Mastercard</title>
			</idealcheckoutmastercard>
		</payment>
	</default>
</config>
