<?xml version="1.0"?>
<config>
    <modules>
        <SSA_Customersync>
            <version>0.1.0</version>
        </SSA_Customersync>
    </modules>
    <global>
        <models>
            <customersync>
                <class>SSA_Customersync_Model</class>
                <resourceModel>customersync_mysql4</resourceModel>
            </customersync>
        </models>
        <blocks>
            <customersync>
                <class>SSA_Customersync_Block</class>
            </customersync>
        </blocks>
        <helpers>
            <customersync>
                <class>SSA_Customersync_Helper</class>
            </customersync>
        </helpers>
        <resources>
            <customersync_setup>
                <setup>
                    <module>SSA_Customersync</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customersync_setup>
            <customersync_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customersync_write>
            <customersync_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customersync_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <customersync>
                <use>standard</use>
                <args>
                    <module>SSA_Customersync</module>
                    <frontName>customersync</frontName>
                </args>
            </customersync>
            <customer>
                <args>
                    <modules>
                        <customersync before="Mage_Customer">SSA_Customersync_Customer</customersync>
                    </modules>
                </args>
            </customer>
            <checkout>
                <args>
                    <modules>
                        <customersync before="Mage_Checkout">SSA_Customersync_Checkout</customersync>
                    </modules>
                </args>
            </checkout>
        </routers>
        <layout>
            <updates>
                <customersync>
                    <file>customersync.xml</file>
                </customersync>
            </updates>
        </layout>
        <translate>
            <modules>
                <SSA_Customersync>
                    <files>
                        <default>SSA_Customersync.csv</default>
                    </files>
                </SSA_Customersync>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
           <adminhtml>
                <args>
                    <modules>
                        <customersync before="Mage_Adminhtml">SSA_Customersync_Adminhtml</customersync>
                    </modules>
                </args>
           </adminhtml>
        </routers>
    </admin>
    <adminhtml>
      <events>
         <customer_save_after>
            <observers>
                 <customersync>
                     <type>singleton</type>
                     <class>customersync/observer</class>
                     <method>syncCustomerAdmin</method>
                 </customersync>
            </observers>
         </customer_save_after>
       </events>
    </adminhtml>
</config>
