<?xml version="1.0" ?>
<config>

    <modules>
        <Elmaonline_Featuredproduct>
            <version>0.0.1</version>
        </Elmaonline_Featuredproduct>
    </modules>


    <global>
        <blocks>
            <featuredproduct>
                <class>Elmaonline_Featuredproduct_Block</class>
            </featuredproduct>
        </blocks>
    </global>
    
</config>